<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>教务管理系统</h1>
  <ul>
    <!-- 
      a 链接就是提供给用户的入口
        用户是不需要关心 url 的名字的
        当用户点击 a 链接的时候，a 链接会发起一个对当前元素中的 href 属性指向的路径发起一个 get 请求
        也就是说，点击了 a 链接之后，网页会锁死，（开始转，等待），等待服务端的响应
     -->
    <a href="/students">学生信息管理</a>
  </ul>
</body>
</html>
